.config/shell/local/*
!.config/shell/local/readme.md

.config/shell/profile.d/local/*
!.config/shell/profile.d/local/readme.md

.config/sway/scripts/local/*
!.config/sway/scripts/local/readme.md
.config/sway/config.d/local-*
!.config/sway/config.d/local-*.example
