## sudoers file.
##
## This file MUST be edited with the 'visudo' command as root.
## Failure to use 'visudo' may result in syntax or file permission errors
## that prevent sudo from running.
##
## See the sudoers man page for the details on how to write a sudoers file.
##

##
## Defaults specification
##
## Preserve editor environment variables for visudo.
## To preserve these for all commands, remove the "!visudo" qualifier.
Defaults!/usr/bin/visudo env_keep += "SUDO_EDITOR EDITOR VISUAL"
##
## Use a hard-coded PATH instead of the user's to find commands.
## This also helps prevent poorly written scripts from running
## arbitrary commands under sudo.
Defaults secure_path="/usr/local/sbin:/usr/local/bin:/usr/bin"

Defaults passwd_timeout=0   # Disable the timeout when waiting for password

##
## User & Group privilege specification
##
root ALL=(ALL:ALL) ALL

## Allow members of group `wheel` to execute any command
%wheel ALL=(ALL:ALL) ALL

## Allow specific programs without password
#e.g. %wheel ALL=(root) NOPASSWD: sha256:67f3b6819247b585a41c0a882a50252b83a6c9f60339b84710d305eb144ae9c3 /usr/local/lib/app/script

## Read drop-in files from /etc/sudoers.d
@includedir /etc/sudoers.d
